.question,
.answer {
	display: flex;
	align-items: center;
}

.question,
.answer,
.content,
.title,
.social_media {
	padding: 3rem;
	border-radius: 20px;
	width: 80%;
	margin: 0 auto;
}

.question {
	text-shadow: 3px 3px 0 $old_lavender;
}

.question,
.title {
	background-color: $lavender;
	color: $white;
	box-shadow: 7px 7px 0 $old_lavender;
	max-height: 20rem;
}

.answer,
.social_media {
	text-shadow: 2px 2px 0 $pastel_pink;
	background-color: $pastel_pink;
	color: $white;
	box-shadow: 7px 7px 0 $lavender;
}

.answer_image,
.social_media {
	text-shadow: none;
	background-color: $sand;
}
